$pastel-red: #f65261;
$pastel-red-bg-hover: #d62333;
$pastel-red-bg-active: #d62333;
$dark-grey: #424242;
$dark: #232323;
$light-grey: #555555;
$light-grey-bg-hover: #696969;
$light-grey-bg-active: #414141;
$alt-grey: #a8a8a9;
$white: #ffffff;
