@use "src/styles/colors";

$section-max-width: 1280px;
$section-padding: 0.8rem 1rem;
$margin-center-vertically: 0 auto;
$modal-box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
$input-height: 30px;
$input-width: 100%;
$icon-width: 2rem;
