@use "src/styles/colors";

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1%;
  width: 25%;
  min-width: 300px;
  max-width: 400px;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.btn__link {
  display: block;
  text-decoration: none;
  color: colors.$white;
}
