@use "src/styles/colors";
@use "src/styles/mixins";

.sort {
  @include mixins.flex-position(row, flex-start, center);
  gap: 0 1rem;
  position: relative;
  text-transform: uppercase;
  font-size: 0.9rem;

  &::after {
    @include mixins.position(absolute, $right: -1rem);
    content: "\25BC";
    color: colors.$pastel-red;
  }

  &__label {
    color: colors.$alt-grey;
    letter-spacing: 0.1ch;
    white-space: nowrap;
  }

  &__input {
    appearance: none;
    border: none;
    background: transparent;
    color: colors.$white;
    font-size: inherit;
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
  }
}
